<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XG.Client.TCP.GTK.ClientSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <XG.Client.TCP.GTK.ClientSettings>
            <setting name="Password" serializeAs="String">
                <value>xgisgreat</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5555</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ColorReady1" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorActive1F" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorReady0" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorActive0B" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorBrokenF" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorBrokenB" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorActive0F" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorActive1B" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorClosedF" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorClosedB" serializeAs="String">
                <value/>
            </setting>
        </XG.Client.TCP.GTK.ClientSettings>
    </userSettings>
</configuration>
