<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XG.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XG.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XG.Config.Properties.Settings>
            <setting name="IrcNick" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="IrcPasswort" serializeAs="String">
                <value>password123</value>
            </setting>
            <setting name="IrcRegisterEmail" serializeAs="String">
                <value>anon@ymous.org</value>
            </setting>
            <setting name="AutoRegisterNickserv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value>xgisgreat</value>
            </setting>
            <setting name="UseWebserver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebserverPort" serializeAs="String">
                <value>5556</value>
            </setting>
            <setting name="UseJabberClient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JabberServer" serializeAs="String">
                <value />
            </setting>
            <setting name="JabberUser" serializeAs="String">
                <value />
            </setting>
            <setting name="JabberPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseElasticSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ElasticSearchHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ElasticSearchPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileHandlers" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="MaxDownloadSpeedInKB" serializeAs="String">
                <value>0</value>
            </setting>
        </XG.Config.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XG.Config.Properties.Settings>
            <setting name="CommandWaitTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BotWaitTime" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="ChannelWaitTimeShort" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ChannelWaitTimeMedium" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="ChannelWaitTimeLong" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="FileRollbackBytes" serializeAs="String">
                <value>512000</value>
            </setting>
            <setting name="FileRollbackCheckBytes" serializeAs="String">
                <value>409600</value>
            </setting>
            <setting name="UpdateDownloadTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DownloadPerReadBytes" serializeAs="String">
                <value>102400</value>
            </setting>
            <setting name="BotOfflineTime" serializeAs="String">
                <value>7200</value>
            </setting>
            <setting name="SamePacketRequestTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IrcVersion" serializeAs="String">
                <value>mIRC v6.35 Khaled Mardam-Bey</value>
            </setting>
            <setting name="BotOfflineCheckTime" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="DownloadTimeoutTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MutliDownloadMinimumTime" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="RunLoopTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TakeSnapshotTimeInMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxNoDateReceived" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="XgVersion" serializeAs="String">
                <value>3.0.0.0</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>5</value>
            </setting>
        </XG.Config.Properties.Settings>
    </applicationSettings>
</configuration>