<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="XG" Language="1033" Version="3.3.0.0" Manufacturer="Lars Formella" UpgradeCode="d95523ff-1478-41d8-8139-3a7abc1a3fc7">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of XG is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="XG" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<PropertyRef Id="NETFRAMEWORK45"/>
		<Condition Message="XG requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
			<![CDATA[Installed OR NETFRAMEWORK45]]>
		</Condition>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="XG" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ApplicationFiles" Guid="48974b54-bfcd-41b4-b1ba-fa2571950fe1">
				<File Id="agsXMPP.dll" Source="..\XG.Application\bin\Build.Wix\agsXMPP.dll"/>
				<File Id="BplusDotNet.dll" Source="..\XG.Plugin.Webserver\bin\Build.Wix\BplusDotNet.dll"/>
				<File Id="CacheAspect.dll" Source="..\XG.Plugin.Webserver\bin\Build.Wix\CacheAspect.dll"/>
				<File Id="CacheAspect.pdb" Source="..\XG.Plugin.Webserver\bin\Build.Wix\CacheAspect.pdb"/>
				<File Id="Common.Logging.dll" Source="..\XG.Application\bin\Build.Wix\Common.Logging.dll"/>
				<File Id="Common.Logging.pdb" Source="..\XG.Application\bin\Build.Wix\Common.Logging.pdb"/>
				<File Id="Common.Logging.xml" Source="..\XG.Application\bin\Build.Wix\Common.Logging.xml"/>
				<File Id="Db4objects.Db4o.dll" Source="..\XG.Application\bin\Build.Wix\Db4objects.Db4o.dll"/>
				<File Id="Db4objects.Db4o.xml" Source="..\XG.Application\bin\Build.Wix\Db4objects.Db4o.xml"/>
				<File Id="HtmlAgilityPack.dll" Source="..\XG.Application\bin\Build.Wix\HtmlAgilityPack.dll"/>
				<File Id="HtmlAgilityPack.pdb" Source="..\XG.Application\bin\Build.Wix\HtmlAgilityPack.pdb"/>
				<File Id="HtmlAgilityPack.xml" Source="..\XG.Application\bin\Build.Wix\HtmlAgilityPack.xml"/>
				<File Id="log4net.dll" Source="..\XG.Application\bin\Build.Wix\log4net.dll"/>
				<File Id="log4net.xml" Source="..\XG.Application\bin\Build.Wix\log4net.xml"/>
			  <File Id="Lucene.Net.dll" Source="..\XG.Application\bin\Build.Wix\Lucene.Net.dll"/>
			  <File Id="Lucene.Net.xml" Source="..\XG.Application\bin\Build.Wix\Lucene.Net.xml"/>
				<File Id="Meebey.SmartIrc4net.dll" Source="..\XG.Application\bin\Build.Wix\Meebey.SmartIrc4net.dll"/>
				<File Id="Microsoft.AspNet.SignalR.Core.dll" Source="..\XG.Application\bin\Build.Wix\Microsoft.AspNet.SignalR.Core.dll"/>
				<File Id="Microsoft.AspNet.SignalR.Core.xml" Source="..\XG.Application\bin\Build.Wix\Microsoft.AspNet.SignalR.Core.xml"/>
				<File Id="Microsoft.Owin.dll" Source="..\XG.Application\bin\Build.Wix\Microsoft.Owin.dll"/>
				<File Id="Microsoft.Owin.Hosting.dll" Source="..\XG.Application\bin\Build.Wix\Microsoft.Owin.Hosting.dll"/>
				<File Id="Microsoft.Owin.Hosting.xml" Source="..\XG.Application\bin\Build.Wix\Microsoft.Owin.Hosting.xml"/>
				<File Id="Microsoft.Owin.Security.dll" Source="..\XG.Application\bin\Build.Wix\Microsoft.Owin.Security.dll"/>
				<File Id="Microsoft.Owin.Security.xml" Source="..\XG.Application\bin\Build.Wix\Microsoft.Owin.Security.xml"/>
				<File Id="Microsoft.Owin.xml" Source="..\XG.Application\bin\Build.Wix\Microsoft.Owin.xml"/>
				<File Id="Nancy.dll" Source="..\XG.Application\bin\Build.Wix\Nancy.dll"/>
				<File Id="Nancy.Owin.dll" Source="..\XG.Application\bin\Build.Wix\Nancy.Owin.dll"/>
				<File Id="Nancy.Owin.xml" Source="..\XG.Application\bin\Build.Wix\Nancy.Owin.xml"/>
				<File Id="Nancy.Serialization.JsonNet.dll" Source="..\XG.Plugin.Webserver\bin\Build.Wix\Nancy.Serialization.JsonNet.dll"/>
				<File Id="Nancy.xml" Source="..\XG.Application\bin\Build.Wix\Nancy.xml"/>
				<File Id="Nest.dll" Source="..\XG.Application\bin\Build.Wix\Nest.dll"/>
				<File Id="Nest.pdb" Source="..\XG.Application\bin\Build.Wix\Nest.pdb"/>
				<File Id="Nest.xml" Source="..\XG.Application\bin\Build.Wix\Nest.xml"/>
				<File Id="Newtonsoft.Json.dll" Source="..\XG.Application\bin\Build.Wix\Newtonsoft.Json.dll"/>
				<File Id="Newtonsoft.Json.xml" Source="..\XG.Application\bin\Build.Wix\Newtonsoft.Json.xml"/>
				<File Id="Nowin.dll" Source="..\XG.Plugin.Webserver\bin\Build.Wix\Nowin.dll"/>
				<File Id="Owin.dll" Source="..\XG.Application\bin\Build.Wix\Owin.dll"/>
				<File Id="PostSharp.dll" Source="..\XG.Plugin.Webserver\bin\Build.Wix\PostSharp.dll"/>
				<File Id="Quartz.dll" Source="..\XG.Application\bin\Build.Wix\Quartz.dll"/>
				<File Id="Quartz.pdb" Source="..\XG.Application\bin\Build.Wix\Quartz.pdb"/>
				<File Id="Quartz.xml" Source="..\XG.Application\bin\Build.Wix\Quartz.xml"/>
				<File Id="SharpRobin.dll" Source="..\XG.Application\bin\Build.Wix\SharpRobin.dll"/>
				<File Id="StarkSoftProxy.dll" Source="..\XG.Application\bin\Build.Wix\StarkSoftProxy.dll"/>
				<File Id="start.sh" Source="..\XG.Application\bin\Build.Wix\start.sh"/>
				<File Id="System.Data.SQLite.dll" Source="..\XG.Application\bin\Build.Wix\System.Data.SQLite.dll"/>
				<File Id="System.Data.SQLite.xml" Source="..\XG.Application\bin\Build.Wix\System.Data.SQLite.xml"/>
				<File Id="XG.Application.exe" Source="..\XG.Application\bin\Build.Wix\XG.Application.exe"/>
				<File Id="XG.Application.exe.config" Source="..\XG.Application\bin\Build.Wix\XG.Application.exe.config"/>
				<File Id="XG.Application.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Application.pdb"/>
				<File Id="XG.Business.dll" Source="..\XG.Application\bin\Build.Wix\XG.Business.dll"/>
				<File Id="XG.Business.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Business.pdb"/>
				<File Id="XG.Config.dll" Source="..\XG.Application\bin\Build.Wix\XG.Config.dll"/>
				<File Id="XG.Config.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Config.pdb"/>
				<File Id="XG.DB.dll" Source="..\XG.Application\bin\Build.Wix\XG.DB.dll"/>
				<File Id="XG.DB.pdb" Source="..\XG.Application\bin\Build.Wix\XG.DB.pdb"/>
			  <File Id="XG.Extensions.dll" Source="..\XG.Extensions\bin\Build.Wix\XG.Extensions.dll"/>
			  <File Id="XG.Extensions.pdb" Source="..\XG.Extensions\bin\Build.Wix\XG.Extensions.pdb"/>
				<File Id="XG.Model.dll" Source="..\XG.Application\bin\Build.Wix\XG.Model.dll"/>
				<File Id="XG.Model.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Model.pdb"/>
				<File Id="XG.Plugin.dll" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.dll"/>
				<File Id="XG.Plugin.ElasticSearch.dll" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.ElasticSearch.dll"/>
				<File Id="XG.Plugin.ElasticSearch.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.ElasticSearch.pdb"/>
				<File Id="XG.Plugin.Import.dll" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Import.dll"/>
				<File Id="XG.Plugin.Import.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Import.pdb"/>
				<File Id="XG.Plugin.Irc.dll" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Irc.dll"/>
				<File Id="XG.Plugin.Irc.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Irc.pdb"/>
				<File Id="XG.Plugin.Jabber.dll" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Jabber.dll"/>
				<File Id="XG.Plugin.Jabber.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Jabber.pdb"/>
				<File Id="XG.Plugin.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.pdb"/>
				<File Id="XG.Plugin.Webserver.dll" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Webserver.dll"/>
				<File Id="XG.Plugin.Webserver.pdb" Source="..\XG.Application\bin\Build.Wix\XG.Plugin.Webserver.pdb"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>